
-> CHAVE SECRETA
--> SECRET_KEY=a3f8c2d1e4b5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1

-> INICIALIZADOR
--> uvicorn APP.main:app --reload

-> INSTALLS
--> pip install fastapi
--> pip install uvicorn
--> pip install sqlalchemy
--> pip install psycopg2-binary
--> pip install python-dotenv
--> pip install bcrypt==4.0.1
--> pip install passlib==1.7.4
--> pip install pydantic